.title_bar{	
	margin 			:	15px 0px 15px 0px; 
	width			:	500px;
	text-align		:	center;
	font-family 	:	'Verdana';
}

.LM_container{
	width			:	500px;
	padding			: 	0px;
	height			:	500px;
	font-family 	:	'Verdana';
}

.LM_listBox{
	width			:	100%;
	height			:	100%;
	border 			:	thin solid #D3D3D3;
	background 		:	#FFFFFF;
	margin-top		:	0px;
	float 			:	left;
}

.LM_middle{
	float			:	left;
	width			:	20%;
	color			:	#999;
	border			:	thin solid transparent;
	font-size 		:	11px;
}

.LM_item_title{
	text-align 		:	center;
	font-size	 	:	12px;

	cursor			:	default;
	height			:	25px;
	padding-top		:	4px;

}

.LM_item_select{
	border 			:	thin solid transparent;
	float 			:	right;
	margin-top		:	-3px;
	background 		:  	url('https://raw.githubusercontent.com/empcomm/listMaker/master/bg.grnArrowRght.png') center;
	width			:	26px;
	height			:	24px;
	margin-left 	:	-24px;
	cursor 			:	pointer;
}

.LM_item_deselect{
	border 			:	thin solid transparent; 
	float 			:	left;
	margin-top		:	-3px;
	background 		:  	url('https://raw.githubusercontent.com/empcomm/listMaker/master/bg.redArrowLft.png') center;
	width			:	26px;
	height			:	24px;
	margin-right 	:	-24px;
	cursor 			:	pointer;
}

.LM_item{
	cursor			:	pointer;
	background		:	#ede9f3;
	margin-top		:	3px;
	margin-bottom	:	3px;
	font-size 		:	10px;
	padding 		: 	1px; 
	border 			: 	thin solid transparent;
	overflow 		: 	hidden; 
}


/* Background */
.LM_bg_white_to_gray{
	background 							:	#FFFFFF; /*fallback for non-CSS3 browsers*/
    background 							:	-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF) to(#DBDDE1)); /*old webkit*/
    background 							:	-webkit-linear-gradient(#FFFFFF, #DBDDE1); /*new webkit*/
    background 							:	-moz-linear-gradient(#FFFFFF, #DBDDE1); /*gecko*/
    background 							:	-ms-linear-gradient(#FFFFFF, #DBDDE1); /*IE10*/
    background 							:	-o-linear-gradient(#FFFFFF, #DBDDE1); /*opera 11.10+*/
    background 							:	linear-gradient(#FFFFFF, #DBDDE1); /*future CSS3 browsers*/
	-pie-background						: 	linear-gradient(#FFFFFF, #DBDDE1);
    behavior 							:	url(pie.htc);
}

.LM_bg_blue_w_border{
	background-color 					:	rgba(166, 198, 255, .85);
	-webkit-box-shadow					:	1px 1px 1px 1px rgba(0, 91, 225, .45);
	-moz-box-shadow						:	1px 1px 1px 1px rgba(0, 91, 225, .45);
	box-shadow							:	1px 1px 1px 1px rgba(0, 91, 225, .45);
	-pie-box-shadow 					:	1px 1px 1px 1px rgba(0, 91, 225, .45);
	-webkit-border-radius 				:	2px;
	-moz-border-radius 					:	2px;
	-ms-border-radius 					:	2px;
	-o-border-radius 					:	2px;
	border-radius 						:	2px;
	border-width 						:	1px;
	border-style 						:	solid;
	border-color 						:	rgb(0,91,225);
    behavior 							:	url(pie.htc);
}
